.cont-itemDetail {
    width: 650px;
    height: 650px;
    margin: 0.5rem auto 0.5rem auto;
    padding: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(245, 211, 242, 0.774);
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    color: rgba(0, 0, 0, 0.74);
}

.loading {
    height: 93vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    color: #080813 !important;
    align-items: center;
    margin: 1px;
    border-radius: 1px;
    background-color: rgba(206, 194, 194, 0.558);
    text-decoration: none;
    padding: 1px;


}